<section class="overlay">
  <section class="modal">
    <h3>
      Enter search criteria
      <a class="close" (click)="closeModal()">&times;</a>
    </h3>
    <form id="search-criteria-form" (submit)="searchResults($event)" ngNativeValidate>
      <label for="artist-name">Artist name
      </label>
      <input [(ngModel)]="term" id="artist-name" name="artist-name" type="text" maxlength="4" pattern="[jJ][aA][cC][kK]" title="Enter 'jack' as an artist name"
        placeholder="e.g. jack..." required>
      <label for="tracks-count">No. of tracks
      </label>
      <input [(ngModel)]="limit" id="tracks-count" name="tracks-count" type="number" min="4" max="4" title="Enter '4' as number of tracks"
        placeholder="e.g. 4..." required>
      <label></label>
      <span>
        <button class="btn">Search</button>
      </span>
    </form>
  </section>
</section>

<section class="overlay" *ngIf="showLoader">
    <section class="modal">
      <figure>
          <img src="./assets/images/loading.gif">
          <figcaption>Loading...</figcaption>
      </figure>
    </section>
</section>
